<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">


<mapper namespace="com.web.dao.Orderdao">

    <insert id="insertorder" parameterType="com.web.model.Orders">
        insert into orders (user_id,time,telphone,name,hotel,roomtype)
        values(#{user_id},#{time},#{telphone},#{name},#{hotel},#{roomtype})
    </insert>

    <delete id="deleteorder" parameterType="Integer" >
        delete from orders where order_id=#{order_id}
    </delete>

    <delete id="deleteorderByuserid" parameterType="Integer">
        delete from orders where user_id=#{user_id}
    </delete>

    <select id="getorderbyorderid" parameterType="Integer" resultType="com.web.model.Orders">
        select * from orders where order_id=#{order_id}
    </select>


    <update id="updateorders" parameterType="com.web.model.Orders">
      update orders
      <set >
          <if test="time!=null">
              time=#{time},
          </if>
          <if test="telphone!=null">
              telphone=#{telphone},
          </if>
          <if test="name!=null">
              name=#{name},
          </if>
          <if test="hotel!=null">
              hotel=#{hotel},
          </if>
          <if test="roomtype!=null">
              roomtype=#{roomtype},
          </if>
      </set>
      WHERE order_id=#{order_id}
    </update>

    <select id="getordersByuserid" resultType="com.web.model.Orders" parameterType="Integer">
        SELECT * FROM orders WHERE user_id=#{user_id}
    </select>

    <select id="getorders" resultType="com.web.model.Orders" >
        SELECT * FROM orders
    </select>
</mapper>